body {
	font-family: Arial;
	font-size: 100%;
	line-height: 1.25em;
	color: #4d4d4d;
	background: #fffdf4; /* For browsers that do not support gradients */
}

#container {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	-webkit-box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 1);
	background-color: white;
	padding: 15px;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 2px solid #7d7d7d;
}

#header {
	font-size: 3em;
	text-align: left;
}

#header img {
	width: 770px;
	height: auto;
}

#application-logo {
	text-align: center;
}

#application-logo img {
	width: 400px;
	height: auto;
}

#title {
	font-size: 2.7em;
	padding-top: 80px;
	padding-bottom: 50px;
	text-align: center;
	color: #489cdf;
	font-weight: bold;
}

#tableOfContents {
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 2px solid #7d7d7d;
	width: auto;
	display: inline-block;
	padding-right: 20px;
}

#tableOfContentsLink {
	position: fixed;
	top: 30px;
	right: 30px;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 2px solid #7d7d7d;
	-webkit-box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 1); -moz-box-shadow
	: 0px 0px 13px -1px rgba( 0, 0, 0, 1); box-shadow : 0px 0px 13px -1px
	rgba( 0, 0, 0, 1);
	padding: 5px;
	background-color: white;
	-moz-box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 1);
}

h1, h2, h3, a {
	color: #489cdf;
}

h1 {
	font-size: 1.55em;
	font-style: bold;
	padding-left: 20px;
}

h2 {
	font-size: 1.25em;
	font-style: bold;
	padding-left: 60px;
}

h3 {
	font-size: 1.1em;
	font-style: bold;
	padding-left: 100px;
}

p {
	text-align: justify;
	text-justify: inter-word;
}

#content img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: auto;
	-webkit-box-shadow: 	3px 5px 4px 2px rgba(0,0,0,0.69);
	-moz-box-shadow: 		3px 5px 4px 2px rgba(0,0,0,0.69);
	box-shadow: 			3px 5px 4px 2px rgba(0,0,0,0.69);
	border-radius: 3px 3px 3px 3px;
}

#footer {
	font-size: 0.75em;
	font-style: italic;
	text-align: center;
	color: #BDBDBD;
}

.todo {
	color: red;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
}