/*
http://css3buttongenerator.com/
*/
body {
	font-family: Arial;
	color: #333333;
}

#container {
	margin: auto;
	width: 80%;
}

input[type="button"] {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background-color: #ffcc33;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #ffaa22;
	display: inline-block;
	cursor: pointer;
	color: #333333;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffcc33;
}

input[type="button"]:hover {
	background-color: #ffab23;
}

input[type="button"]:active {
	position: relative;
	top: 1px;
}

.aiConfigList table input[type="button"] {
	font-size: 9px;
	padding: 3px;
}

.aiConfigList {
	background: #fff;
	overflow: hidden;
	border: 1px solid #ffaa22;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.aiConfigList table {
	border-collapse: collapse;
	text-align: left;
	max-width: 100px;
}

.aiConfigList table td, .aiConfigList table th {
	padding: 3px 10px;
}

.aiConfigList table thead th {
	background-color: #ffcc33;
	color: #333333;
	font-size: 10px;
	border-left: 1px solid #ffaa22;
}

.aiConfigList table thead th:first-child {
	border: none;
}

.aiConfigList table tbody td {
	border-left: 1px solid #ffaa22;
	font-size: 9px;
	border-bottom: 1px solid #ffaa22;
	font-weight: normal;
}

.aiConfigList table tbody td:first-child {
	border-left: none;
}

#gameAdvancementControls {
	display: block;
	text-align: center;
}

#console {
	display: block;
	width: auto;
	height: 600px;
	border: 1px solid black;
}

.game-canvas-container-inner {
	background-color: #FFE048;
	width: 450px;
	height: 425px;
	padding-top: 25px;
	/* border: */
	border-radius: 35px 35px 35px 35px;
	-moz-border-radius: 35px 35px 35px 35px;
	-webkit-border-radius: 35px 35px 35px 35px;
	border: 2px solid #7d7d7d;
	/* border shadow: */
	-webkit-box-shadow: 0px 0px 13px -1px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 13px -1px rgba(0,0,0,1);
	box-shadow: 0px 0px 13px -1px rgba(0,0,0,1);
}

a.otherGamePageLink:link, a.otherGamePageLink:visited, a.otherGamePageLink:active {
	background-color: #2E64FE;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 4px;
	text-decoration: underline;
	margin-top: 2px;
}

a.otherGamePageLink:hover {
	background-color: #0101DF;
}