/*
http://css3buttongenerator.com/
*/
body {
	font-family: Arial;
	color: black;
}

#container {
	margin: auto;
	width: 80%;
}

input[type="button"] {
	color: white;
	-moz-box-shadow: 0px 1px 0px 0px #0f8a0f;
	-webkit-box-shadow: 0px 1px 0px 0px #0f8a0f;
	box-shadow: 0px 1px 0px 0px #0f8a0f;
	background-color: #0f8a0f;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #3B963B;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #0f8a0f;
}

input[type="button"]:hover {
	background-color: #3B963B;
}

input[type="button"]:active {
	position: relative;
	top: 1px;
}

.aiConfigList table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}

.aiConfigList {
	background: #fff;
	overflow: hidden;
	border: 1px solid #3B963B;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.aiConfigList table td, .aiConfigList table th {
	padding: 3px 10px;
}

.aiConfigList table thead th {
	background-color: #0f8a0f;
	color: white;
	font-size: 13px;
	border-left: 1px solid #3B963B;
}

.aiConfigList table thead th:first-child {
	border: none;
}

.aiConfigList table tbody td {
	border-left: 1px solid #3B963B;
	font-size: 13px;
	border-bottom: 1px solid #3B963B;
	font-weight: normal;
}

.aiConfigList table tbody td:first-child {
	border-left: none;
}

#gameAdvancementControls {
	display: block;
	text-align: center;
}

#console {
	display: block;
	width: auto;
	height: 600px;
	border: 1px solid black;
}

.game-canvas-container-inner {
    background-color: #3B963B;
    width: 220px;
    height: 210px;
    padding-top: 10px;
    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 2px solid #7d7d7d;
    -webkit-box-shadow: 0px 0px 13px -1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 13px -1px rgba(0,0,0,1);
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,1);
}

a.otherGamePageLink:link, a.otherGamePageLink:visited, a.otherGamePageLink:active {
	background-color: #2E64FE;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 4px;
	text-decoration: underline;
	margin-top: 2px;
}

a.otherGamePageLink:hover {
	background-color: #0101DF;
}