body {
	font-family: arial;
	font-size: 1.0em;
	font-weight: bold;
}

span {
	border: 1px solid black; 
	width: auto; 
	height: auto; 
	display: inline-block; 
	background-color: black; 
	color: white; 
}

canvas {
	background-color: white;
}